@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Creado por:  <a href="https://www.linkedin.com/in/luis-carlos-flores-vazquez-829484223/">ISC. Luis Carlos Flores Vazquez</a>.</p>
</div>
